h1 {
	color: #bcbbbb;
	font-size: 250%;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 0px;
}

.row {
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
    max-width: 460px;
}

.thick-border {
	border-style: solid;
    border-width: 5px;
    margin-top: 15px;
    width: 320px; 
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.align-portfolio-title-left {
	text-align: center;
}

.align-portfolio-title-right {
	text-align: center;
}

.align-portfolio-title-centre {
	text-align: center;
}

.col-1 {
	min-width: 8.33%;
}

.col-2 {
	min-width: 16.66%;
}

.col-3 {
	min-width: 25%;
}

.col-4 {
	min-width: 100%;
	flex: 1;
}

.col-5 {
	min-width: 41.66%;
}

.col-6 {
	min-width: 50%;
}

.col-7 {
	min-width: 53.33%;
}

.col-8 {
	min-width: 55%;
}

.col-9 {
	min-width: 60%;
}

.col-10 {
	min-width: 65%;
}

.col-11 {
	min-width: 91.66%;
}

.col-12 {
	min-width: 100%;
}
