*{
	border: 1px solid red !important;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 300px){
	p{
		background-color: blue;
	}
}

body {
  margin: 0;
}
h1 {
	color: #BCBBBB;
	font-size: 400%;
	margin-top: 10px;
	margin-bottom: 0px;
}
h2 {
	color: #BCBBBB;
	font-size: 200%;
}
h3 {
	color: #747704;
	font-size: 200%;
}
h4 {
	color: #747704;
	font-size: 125%;
	margin-top: 0px;
	margin-bottom: 0px;
}
h5 {
	color: #BCBBBB;
	font-size: 75%;
}

.full-circle {
	 background-color: rgba(204, 0, 102, 0);
	 border: 10px solid #EF6518;
	 height: 110px;
	 width: 110px;
	 -moz-border-radius:75px;
	 -webkit-border-radius: 75px;
	 margin-top: 10px;
}
.udacity_logo{
	width:90px;
    height: auto;
}

.alignPortfolioTitleLeft{
	text-align: center;
	float: left;
}
.alignPortfolioTitleRight{
	text-align: center;
	float: right;
}
.alignPortfolioTitleCentre{
	text-align: center;
}

.rightText{
	text-align: right;
}

img.leftAligned{
	
}
img.centered{

}
img.rightAligned{
	
}
.thickBorder{
	border-style: solid;
    border-width: 10px;
}
.mediumBorder{
	border-style: solid;
    border-width: 5px;
}

.row{
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}
.col-1{
	width: 8.33%
}
.col-2{
	width: 16.66%
}
.col-3{
	width: 25%
}
.col-4{
	width: 33.33%
}
.col-5{
	width: 41.66%
}
.col-6{
	width: 50%
}
.col-7{
	width: 58.33%
}
.col-8{
	width: 66.66%
}
.col-9{
	width: 75%
}
.col-10{
	width: 83.33%
}
.col-11{
	width: 91.66%
}
.col-12{
	width: 100%
}