.row{
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
    max-width: 481px;
}
.thickBorder{
	border-style: solid;
    border-width: 10px;
    margin-top: 15px;
    width:461px; /* you can use % */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignPortfolioTitleLeft{
	text-align: center;
}
.alignPortfolioTitleRight{
	text-align: center;
}
.alignPortfolioTitleCentre{
	text-align: center;
}
.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.66%;
}
.col-3{
	width: 25%;
}
.col-4{
	min-width: 90%;
	flex: 1;
}
.col-5{
	width: 41.66%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.66%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33%;
}
.col-11{
	width: 91.66%;
}
.col-12{
	width: 100%;
}